{
  "log": {
    "_recordingName": "should collect data",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "22790214cad10b487c7129981f63eb33",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://sentry.io/api/0/organizations/"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 2871,
            "text": "[{\"id\":\"1052715\",\"slug\":\"jupiterone-integration-develop\",\"status\":{\"id\":\"active\",\"name\":\"active\"},\"name\":\"JupiterOne Integration Development\",\"dateCreated\":\"2021-10-26T20:55:38.686124Z\",\"isEarlyAdopter\":false,\"require2FA\":false,\"requireEmailVerification\":false,\"avatar\":{\"avatarType\":\"letter_avatar\",\"avatarUuid\":null},\"features\":[\"release-adoption-chart\",\"custom-symbol-sources\",\"discover-basic\",\"integrations-alert-rule\",\"integrations-event-hooks\",\"discover-top-events\",\"dashboards-basic\",\"performance-view\",\"issue-percent-filters\",\"metrics-extraction\",\"performance-tag-page\",\"data-forwarding\",\"release-comparison\",\"integrations-incident-management\",\"sso-scim\",\"event-attachments-viewer\",\"integrations-stacktrace-link\",\"minute-resolution-sessions\",\"onboarding\",\"relay\",\"mobile-app\",\"or[...]
