{
  "log": {
    "_recordingName": "should collect data",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "b04ca6940d1a6c4bc834a02972f05b6e",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://sentry.io/api/0/organizations/jupiterone-integration-develop/"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 7861,
            "text": "{\"id\":\"1052715\",\"slug\":\"jupiterone-integration-develop\",\"status\":{\"id\":\"active\",\"name\":\"active\"},\"name\":\"JupiterOne Integration Development\",\"dateCreated\":\"2021-10-26T20:55:38.686124Z\",\"isEarlyAdopter\":false,\"require2FA\":false,\"requireEmailVerification\":false,\"avatar\":{\"avatarType\":\"letter_avatar\",\"avatarUuid\":null},\"features\":[\"integrations-stacktrace-link\",\"slack-requests\",\"performance-ops-breakdown\",\"discover-top-events\",\"minute-resolution-sessions\",\"payment-intents\",\"event-attachments-viewer\",\"performance-events-page\",\"crash-rate-alerts\",\"custom-event-title\",\"release-adoption-stage\",\"performance-view\",\"sso-scim\",\"unified-span-view\",\"event-attachments\",\"images-loaded-v2\",\"shared-issues\",\"issue-percent-filters\",\"mobile-app\",\"discover-use-snql\",\"onboarding\",\"open-membership\",\"unhandled-issue-flag\",\"release-comparison\",\"semver\",\"chart-unfurls\",\"performance-tag-page\",\"release-adoption-chart\",\"performance-mobile-vitals\",\"org-subdomains\",\"connect-discover-and-dashboards\",\"symbol-sources\",\"invite-members-rate-limits\",\"advanced-search\"],\"experiments\":{\"HighlightTrialOnSignupExperiment\":\"on_signup\",\"TargetedUpsellModalExperimentV3\":1,\"OrgStatsBannerExperiment\":0,\"SubscriptionMemberViewExperiment\":0},\"quota\":{\"maxRate\":null,\"maxRateInterval\":60,\"accountLimit\":0,\"projectLimit\":100},\"isDefault\":false,\"defaultRole\":\"member\",\"availableRoles\":[{\"id\":\"billing\",\"name\":\"Billing\"},{\"id\":\"member\",\"name\":\"Member\"},{\"id\":\"admin\",\"name\":\"Admin\"},{\"id\":\"manager\",\"name\":\"Manager\"},{\"id\":\"owner\",\"name\":\"Owner\"}],\"openMembership\":true,\"allowSharedIssues\":true,\"enhancedPrivacy\":false,\"dataScrubber\":false,\"dataScrubberDefaults\":false,\"sensitiveFields\":[],\"safeFields\":[],\"storeCrashReports\":0,\"attachmentsRole\":\"member\",\"debugFilesRole\":\"admin\",\"eventsMemberAdmin\":true,\"alertsMemberWrite\":true,\"scrubIPAddresses\":false,\"scrapeJavaScript\":true,\"allowJoinRequests\":true,\"relayPiiConfig\":null,\"apdexThreshold\":300,\"trustedRelays\":[],\"access\":[\"org:read\",\"team:read\",\"project:read\",\"member:read\"],\"role\":\"owner\",\"pendingAccessRequests\":0,\"onboardingTasks\":[{\"task\":\"setup_second_platform\",\"status\":\"pending\",\"user\":{\"id\":\"1601268\",\"name\":\"Adam Pierson\",\"username\":\"adam.pierson@jupiterone.com\",\"email\":\"adam.pierson@jupiterone.com\",\"avatarUrl\":\"https://secure.gravatar.com/avatar/5abd8230461366dd40ab803831f7ad97?s=32&d=mm\",\"isActive\":true,\"hasPasswordAuth\":true,\"isManaged\":false,\"dateJoined\":\"2021-10-26T21:08:09.627990Z\",\"lastLogin\":\"2021-11-19T19:50:42.408948Z\",\"has2fa\":true,\"lastActive\":\"2021-12-03T19:50:01.800596Z\",\"isSuperuser\":false,\"isStaff\":false,\"experiments\":{},\"options\":{\"theme\":\"light\",\"language\":\"en\",\"stacktraceOrder\":-1,\"timezone\":\"UTC\",\"clock24Hours\":false},\"flags\":{\"newsletter_consent_prompt\":false},\"avatar\":{\"avatarType\":\"letter_avatar\",\"avatarUuid\":null},\"identities\":[{\"id\":\"281349\",\"name\":\"112848569683024765131\",\"organization\":{\"slug\":\"jupiterone\",\"name\":\"JupiterOne\"},\"provider\":{\"id\":\"google\",\"name\":\"Google\"},\"dateSynced\":\"2021-12-03T19:57:14.140275Z\",\"dateVerified\":\"2021-12-03T19:57:14.140275Z\"}],\"emails\":[{\"id\":\"1735481\",\"email\":\"adam.pierson@jupiterone.com\",\"is_verified\":true}]},\"completionSeen\":null,\"dateCompleted\":\"2021-10-27T11:58:01.475644Z\",\"data\":{}},{\"task\":\"invite_member\",\"status\":\"complete\",\"user\":{\"id\":\"1601255\",\"name\":\"Austin Kelleher\",\"username\":\"austin.kelleher@jupiterone.dev\",\"email\":\"austin.kelleher@jupiterone.dev\",\"avatarUrl\":\"https://secure.gravatar.com/avatar/6c6d286122b52413957d2e2ed73deefc?s=32&d=mm\",\"isActive\":true,\"hasPasswordAuth\":true,\"isManaged\":false,\"dateJoined\":\"2021-10-26T20:55:38.564265Z\",\"lastLogin\":\"2021-11-15T14:15:39.661055Z\",\"has2fa\":false,\"lastActive\":\"2021-11-15T14:24:10.765731Z\",\"isSuperuser\":false,\"isStaff\":false,\"experiments\":{},\"avatar\":{\"avatarType\":\"letter_avatar\",\"avatarUuid\":null},\"emails\":[{\"id\":\"1735468\",\"email\":\"austin.kelleher@jupiterone.dev\",\"is_verified\":true}]},\"completionSeen\":null,\"dateCompleted\":\"2021-10-26T21:08:10.222422Z\",\"data\":{\"invited_member_id\":10763262}},{\"task\":\"send_first_event\",\"status\":\"complete\",\"user\":null,\"completionSeen\":null,\"dateCompleted\":\"2021-10-26T20:59:35.888000Z\",\"data\":{\"platform\":\"node\"}},{\"task\":\"setup_transactions\",\"status\":\"complete\",\"user\":null,\"completionSeen\":null,\"dateCompleted\":\"2021-10-26T20:59:35.840192Z\",\"data\":{}},{\"task\":\"create_project\",\"status\":\"complete\",\"user\":{\"id\":\"1601255\",\"name\":\"Austin Kelleher\",\"username\":\"austin.kelleher@jupiterone.dev\",\"email\":\"austin.kelleher@jupiterone.dev\",\"avatarUrl\":\"https://secure.gravatar.com/avatar/6c6d286122b52413957d2e2ed73deefc?s=32&d=mm\",\"isActive\":true,\"hasPasswordAuth\":true,\"isManaged\":false,\"dateJoined\":\"2021-10-26T20:55:38.564265Z\",\"lastLogin\":\"2021-11-15T14:15:39.661055Z\",\"has2fa\":false,\"lastActive\":\"2021-11-15T14:24:10.765731Z\",\"isSuperuser\":false,\"isStaff\":false,\"experiments\":{},\"avatar\":{\"avatarType\":\"letter_avatar\",\"avatarUuid\":null},\"emails\":[{\"id\":\"1735468\",\"email\":\"austin.kelleher@jupiterone.dev\",\"is_verified\":true}]},\"completionSeen\":null,\"dateCompleted\":\"2021-10-26T20:56:06.175633Z\",\"data\":{}}],\"teams\":[{\"id\":\"1254438\",\"slug\":\"jupiterone-dev-testteam1\",\"name\":\"jupiterone-dev-testteam1\",\"dateCreated\":\"2021-10-28T16:21:51.455854Z\",\"isMember\":true,\"hasAccess\":true,\"isPending\":false,\"memberCount\":1,\"avatar\":{\"avatarType\":\"letter_avatar\",\"avatarUuid\":null}},{\"id\":\"1252019\",\"slug\":\"jupiterone-integration-develop\",\"name\":\"JupiterOne Integration Development\",\"dateCreated\":\"2021-10-26T20:55:38.704349Z\",\"isMember\":true,\"hasAccess\":true,\"isPending\":false,\"memberCount\":2,\"avatar\":{\"avatarType\":\"letter_avatar\",\"avatarUuid\":null}}],\"projects\":[{\"team\":{\"id\":\"1252019\",\"slug\":\"jupiterone-integration-develop\",\"name\":\"JupiterOne Integration Development\"},\"teams\":[{\"id\":\"1252019\",\"slug\":\"jupiterone-integration-develop\",\"name\":\"JupiterOne Integration Development\"}],\"id\":\"6036546\",\"name\":\"jupiterone-integration-develop\",\"slug\":\"jupiterone-integration-develop\",\"isBookmarked\":false,\"isMember\":true,\"hasAccess\":true,\"dateCreated\":\"2021-10-26T20:56:06.026232Z\",\"environments\":[\"production\"],\"eventProcessing\":{\"symbolicationDegraded\":false},\"features\":[\"alert-filters\",\"issue-alerts-targeting\",\"minidump\",\"race-free-group-creation\",\"similarity-indexing\",\"similarity-view\"],\"firstEvent\":\"2021-10-26T20:59:35.888000Z\",\"firstTransactionEvent\":true,\"hasSessions\":false,\"platform\":\"node\",\"platforms\":[\"node\"],\"latestRelease\":null,\"hasUserReports\":false,\"latestDeploys\":null},{\"team\":{\"id\":\"1254438\",\"slug\":\"jupiterone-dev-testteam1\",\"name\":\"jupiterone-dev-testteam1\"},\"teams\":[{\"id\":\"1254438\",\"slug\":\"jupiterone-dev-testteam1\",\"name\":\"jupiterone-dev-testteam1\"}],\"id\":\"6044646\",\"name\":\"testproject2\",\"slug\":\"testproject2\",\"isBookmarked\":false,\"isMember\":true,\"hasAccess\":true,\"dateCreated\":\"2021-11-01T21:12:05.790523Z\",\"environments\":[],\"eventProcessing\":{\"symbolicationDegraded\":false},\"features\":[\"alert-fil[...]
